name: Deployment pipeline

on:
  push:
    branches:
      - master
  pull_request:
    branches: [master]
    types: [opened, synchronize]

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - name: Install backend dependencies
        run: npm install
      - name: Install frontend dependencies
        run: cd frontend && npm install
      - name: Check style
        run: npm run lint
      - name: Build
        run: npm run build:ui
      - name: Test
        run: cd frontend && npm run test
      - name: e2e tests
        uses: cypress-io/github-action@v5
        with:
          command: npm run cypress:run
          start: npm start
          wait-on: http://localhost:3001
      - name: fly.io deployment
        if: ${{ github.event_name == 'push' && !contains( join(toJson(github.event.commits.*.message)), '#skip' ) }}
        run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
